@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

form {
  background-color: rgb(var(--background-start-rgb));
  border-radius: 0.5rem;
  padding: 1rem;
}

form input,
form textarea,
form button {
  background-color: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

form input:focus,
form textarea:focus,
form button:hover {
  outline: none;
  border-color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--foreground-rgb), 0.1);
}

button {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-end-rgb));
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(var(--foreground-rgb), 0.8);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
